/*
    File name: custom-styles.css
    Author's name: Lucy, John
    Purpose: custom css file
    Date Created: 06/04/16
    Last Modified: 06/11/16
*/
html {
  position: relative;
  min-height: 100%;
}

body{
    font-size: 13pt;
    background-color: #14213d;
    font-family: 'Cutive Mono';
}

h1, h2, h3, h4, h5, h6, label{
    font-family: 'Comfortaa';
    font-weight: 600;
}

.panel {
	background-color: rgba(255, 255, 255, 0.7);
    padding: 20px 20px 20px 20px;
}

.navbar-toggle> .icon-bar{
    color: #338BDE;
}

.navbar-brand {
    position: absolute;
    top: 0;
    margin-top: -12px;
    /*
    text-align: center;
    font-size: 70px;
    margin-top: 0px;
    */
}
.navbar-transparent {
    background-color: #FF9F19;
    color: #338BDE;
}
.navbar-transparent .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: 'Comfortaa';
    font-size: 15px;
    color: #338BDE;
    text-shadow: 0px 0px 1px rgba(20, 33, 61, 0.65);
}
.navbar-transparent .navbar-nav>.active>a,
.navbar-transparent .navbar-nav>.active>a:focus,
.navbar-transparent .navbar-nav>.active>a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

/* Global */
.jumbotron .page-header {
    border-bottom: 1px solid #A0A0A0;
}

.clearfix {
    display: block;
    width: 100%;
    visibility: hidden;
    clear: both;
}

.error {
    background: #bd0f0f;
}

.panel-body > address> strong {
    color: #338BDE;
}
/* Button Style */
.btn-submit {
    background-color: #FF9F19;
    color: white;
}

.btn-register {
    background-color: #338BDE;
    color: white;
}

.btn-cancel {
    background-color: #bd0f0f;
    color: white;
}
/* Login Page */
.wrapper{
    margin-top: 45px;
}

.form-signin{
  max-width: 420px;
  padding: 30px 38px 38px;
  margin: 0 auto;
  border: 1px solid #cccccc;
}

/* Game Details Page */
.table, .table-borderless td, .table-borderless th{
    border: none !important;
}

.game-form{
    margin-left: 25px;
    margin-right: 25px;
}

.teams-form{
    margin-left: 20px;
}

.panel .panel-primary > .panel-heading {
    background-image: none;
    color: white;
    background-color: #338BDE;
}

.panel-danger, .panel-primary {
    border-color: transparent;
}
.panel .panel-danger > .panel-heading {
    background-image: none;
    color: white;
    background-color: #bd0f0f;
}


