html {
  position: relative;
  min-height: 100%;
}

body{
    z-index: 3;
    background-color: white;
    font-family: 'Cutive Mono';
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Comfortaa';
}

.navbar-toggle> .icon-bar{
    color: #338BDE;
}

.navbar-brand {
    position: absolute;
    top: 0;
    margin-top: -12px;
    /*
    text-align: center;
    font-size: 70px;
    margin-top: 0px;
    */
}
.navbar-transparent {
    background-color: #FF9F19;
}
.navbar-transparent .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px; 
    font-family: 'Comfortaa';
    font-size: 15px;
    color: #338BDE;
    text-shadow: 0px 0px 1px rgba(20, 33, 61, 0.65);
}
.navbar-transparent .navbar-nav > li > a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar-transparent .navbar-nav>.active>a,
.navbar-transparent .navbar-nav>.active>a:focus,
.navbar-transparent .navbar-nav>.active>a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.full {
    background: url(../Assets/Free-Baseball.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: 3;
}

.panel {
	background-color: rgba(255, 255, 255, 0.7);
    padding: 40px 20px 40px 20px;
    
}

.gamepanel{
    padding-left: 40px;
    padding-right: 40px;
}

.wrapper{
    margin-top: 45px;
}

/* Button Style */
.btn-submit {
    background-color: #FF9F19;
    color: white;
}

.btn-register {
    background-color: #338BDE;
    color: white;
}

.btn-cancel {
    background-color: #bd0f0f;
    color: white;
}

@media screen and (max-width: 767px) {
    .navbar-transparent .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px; 
        font-family: 'Comfortaa';
        font-size: 13px;
        color: #338BDE;
        text-shadow: 0px 0px 1px rgba(20, 33, 61, 0.65);
    }
}